/**
 * Contents
 *
 *   1. Imports
 *   2. Starter Template
 */

/* 1. Imports
-------------------------------------------*/

@import "bootstrap-custom";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';


/* 2. Starter Template
-------------------------------------------*/

body {
  padding-top: 5rem;
}

.custom-boilerplate {
  padding: 3rem 1.5rem;
  text-align: center;

  h1 {
    margin-bottom: 1.5rem;
  }
}